[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
openai = "*"
python-dotenv = "*"
pandas = "*"
scikit-learn = "*"
streamlit-feedback = "*"
altair = "*"
blinker = "*"
cachetools = "*"
click = "*"
gitpython = "*"
numpy = "*"
packaging = "*"
pillow = "*"
protobuf = "*"
pyarrow = "*"
pydeck = "*"
requests = "*"
rich = "*"
tenacity = "*"
toml = "*"
tornado = "*"
typing-extensions = "*"
streamlit = "*"

[dev-packages]
ipykernel = "*"

[requires]
python_version = "3.11"
